.titleCheckout{
    text-align: center;
    font-size: calc(2rem + 1vw);
    margin-top: 20px;
    color: orange;
    text-shadow: black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px,
        black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px;
}
.preTicket{
    display: flex;
    place-content: center;
    margin-top: 10px;
}
.resume{
    display: grid;
    width: 350px;
    margin: 5px;
    margin-right: 10vh;
}
.subTitleCheckout{
    display: grid;
    text-align: right;
    font-size: calc(0.6rem + 1vw);
    color: orange;
    text-shadow: black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px,
        black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px;
}
.resume h3{
    text-align: left;
}
.resume p{
    text-align: right;
}
.form{
    display: grid;
    place-content: left;
    width: 400px;
    height: 50vh;
    margin: 20px;
    padding: 10px;
    gap: 3px;
    column-gap: 20px;
}
.confirm{
    display: flex;
    flex-direction: row;
}
.btnProductoConfirm{
    display: grid;
    place-content: center;
    background: rgba(0, 0, 0, 0.184);
    color: orange;
    text-shadow: black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px,
        black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px;
        font-size: calc(0.7rem + 0.2vw);
    background: rgba(135, 135, 135, 0.315);
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
    padding: 2px 2px;
    margin: 2px;

}
.checkoutDetail{
    display: grid;
    place-content: center;
    gap: 10px;
    padding-bottom: 10px;

}
